/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2015, 19:25:06
    Author     : Fabíola Tuany Groh
*/

#topo{
    background-color: #017338;
    color: whitesmoke;
    height: 250px;
}

#topo p {
    font-style: italic;
}

.jumbotron {
    margin: 0;
}

#body {
      position: relative; 
 }
  
 .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
 }
  
 .navbar {
      margin-bottom: 0px;
 }

 .affix ~ .container-fluid {
     position: relative;
     top: 50px;
 }
 
 #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
 #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
 #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
 #section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
 #section5 {padding-top:50px;height:500px;color: #fff; background-color: #red;}
 #section6 {padding-top:50px;height:500px;color: #fff; background-color: #green;}
 #section7 {padding-top:50px;height:500px;color: #fff; background-color: #blue;} 